/*  Шрифты  */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2"); format("woff2")
font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2"); format("woff2")
font-display: swap;
}

/* Глобальные селекторы */

html {
  height: 100%;

}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: black;
  margin: 0;
  background-color: #F2F2F2;
}

img {
  max-width: 100%;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Шапка сайта */

.container {
  width: 1200px;
  display: block;
  margin: 0 auto;
}

.main-container {
  width: 1200px;
  display: block;
  flex-grow: 1;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.page-header {
  color: black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.navigation-link {
  color: inherit;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  display: block;
  padding: 24px 19px;
  position: relative;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:focus {
  color: #D7D0CD;
}


.logo-visual {
  background-image: url("../images/index-background.jpg");
  color: black;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 485px;
}

.welcome-logo {
  margin: 0 auto;
  background-image: url("../images/welcome.svg");
  background-repeat: no-repeat;
  width: 458px;
  height: 412px;

}

.navigation-link-search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;

}

.main-description-text {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 36px;
}

.description-subtitle {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  line-height: 36px;
}

/* Преимущества Седоны */

.sedona-adventages {
  text-align: center;
}

.sedona-adventages-description {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.adventage-numbers {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.adventage-numbers::before,
.adventage-numbers::after {
  content: "-";
}

.adventages-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* Запись */

.sedona-services-main {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  line-height: 36px;
}

.sedona-services-description {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  line-height: 26px;
}

.search-button {
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:focus {
  background-color: #615048;
}

.search-button:active {
  background-color: #615048;
  color: #90847F
}


/* Рассылка  */

.mailing {
  background-color: black;
  background-image: url("../images/email-blurry-background.jpg");
  background-size: 100%;
}

.mailing-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
  line-height: 36px;
}

.mailing-description {
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  line-height: 26px;
  color: white;
}

.field {
  justify-content: center;
  display: inline-block;
  width: 600px;
  height: 60px;
  border: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 30px;
  font-size: 18px;
  background-color: #F2F2F2;
}

.mailing-sub {
  height: 60px;
  background-color: #82b3d3;
  border: hidden;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 20px;
}

.mailing-sub:hover {
  background-color: #68A2CA

}

.mailing-sub:focus {
  background-color: #68A2CA
}

.mailing-sub:active {
  background-color: #68A2CA;
  color: #95BEDA;

}


/* Каталог/Сортировка опций */

.inner-options {
  background-image: url("../images/inner-background.jpg");
  background-size: cover;
  background-color: white;
  background-repeat: no-repeat;
  color: black;
  padding-bottom: 83px;
}

.inner-icon-link {
  text-decoration: none;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: white;
  margin: 0;
  padding-top: 35px;
  padding-left: 71px;
}

.inner-list {
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  color: white;
}

.control-checklist {
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
  color: white;
}

.inner-home-icon {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: white;
  padding-left: 10px;
  text-decoration: none;
  padding-bottom: 2px;
}

.list-style-none {
  list-style: none;
}

/* Сортировка Гостиниц по Селектору */

.inner-found-hotels {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.inner-select-item {
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
}

/* Виды Гостиниц на сайте   */

.inner-hotel-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

.inner-hotel-type {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.inner-hotel-price {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.inner-hotel-4stars {
  background-image: url("../images/star.svg");
  height: 17px;
  background-repeat: repeat-x;
  width: 72px;
}

.inner-hotel-3stars {
  background-image: url("../images/star.svg");
  background-repeat: repeat-x;
  height: 17px;
  width: 55px;
}

.inner-hotel-2stars {
  background-image: url("../images/star.svg");
  background-repeat: repeat-x;
  height: 17px;
  width: 37px;
}

.inner-rating-number {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.inner-rating-desert, .inner-rating-diablo, .inner-rating-green {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.inner-more {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.inner-favorite {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.inner-favorite-current {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.inner-hotel-rating {
  display: flex;
  align-items: center;
}

.inner-rating-number {
  margin-left: 74px;
  margin-top: 16px;
  margin-bottom: 20px;
  width: 160px;
  background-color: #f2f2f2;
  color: black;
  text-decoration: none;
  padding: 9px 25px 10px 20px;
}

.inner-rating-desert {
  margin-left: 92px;
  margin-top: 16px;
  margin-bottom: 20px;
  width: 160px;
  background-color: #f2f2f2;
  color: black;
  text-decoration: none;
  padding: 9px 25px 10px 20px;
}

.inner-rating-diablo {
  margin-left: 114px;
  margin-top: 16px;
  margin-bottom: 20px;
  width: 160px;
  background-color: #f2f2f2;
  color: black;
  text-decoration: none;
  padding: 9px 25px 10px 20px;
}

.inner-rating-green {
  margin-left: 110px;
  margin-top: 16px;
  margin-bottom: 20px;
  width: 160px;
  background-color: #f2f2f2;
  color: black;
  text-decoration: none;
  padding: 9px 25px 10px 20px;
}

/* Загрузить ещё */

.inner-upload-more {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

/* Гостиниц на сайте */

.hotel.onsite {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

/* Рассылка Каталог*/

.mailing-title-catalog {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: black;
  line-height: 36px;
}

.mailing-description-catalog {
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  line-height: 26px;
  color: black;
}

.mailing-sub {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

/* Убрать ненужные элементы */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Флексы / Выставления размеров */

/** Шапка **/

.navigation-main-logo {
  margin-right: 30px;
  margin-left: 70px;
}

.main-conteiner {
  flex-grow: 1;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 445px;
}

.navigation-user {
  margin-left: auto;
  width: 300px;
  min-width: 18px;
  min-height: 17px;
  align-items: center;
}

.page-container {
  margin: 0 auto;
}

.page-footer {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

/** Логотип  и Описание **/

.logo-visual {
  padding-top: 51px;
}

.main-description {
  margin-top: 63px;
  margin-bottom: 80px
}

.main-description-text {
  margin: 0;
}

.description-subtitle {
  margin: 31px 0 0;
}


/** Преимущества Седоны **/

.feature-preview {
  display: flex;
  margin: 0;
  background-image: url("../images/adventages-photo-1.jpg");
  background-repeat: no-repeat;
  object-fit: fill;
  flex-direction: row-reverse;
  height: 384px;
}

.advantages-list {
  display: flex;
}

.feature-preview-second {
  display: flex;
  object-fit: fill;
  height: 387px;
  width: 800px;
}

.second-photo {
  object-fit: fill;
}

/** Запись **/

.sedona-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 93px;
}

.sedona-services-main {
  padding: 91px 0 29px;
  margin: 0;
}

.sedona-services-description {
  padding: 29px 0 56px;
  margin: 0;
}

.search-button {
  display: block;
  width: 575px;
  height: 60px;
  background-color: #756157;
  color: white;
  align-items: center;
  padding: 13px;
  border-radius: 15px;
  text-decoration: none;
}

/** Рассылка **/

.mailing {
  padding-bottom: 93px;
}

.mailing-title {
  padding: 94px 0 29px;
  margin: 0;
}

.mailing-description {
  padding: 29px 0 46px;
  margin: 0;
}

.mailing-email {
  text-align: center;
  display: flex;
  justify-content: center;
}

/** Футер **/

.footer-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.footer-social-list {
  display: flex;
}

.footer-social-item {
  padding-right: 29px;
}

.footer-telephone {
  text-decoration: none;
}

.footer-contact-title {
  font-size: 40px;
  color: #000000
}

.footer-html-academy {
  margin-right: 72px;
}


/* Флексы в Каталоге */
/*.catalog-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}*/

.catalog-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checklist-infrastructure {
  padding-left: 71px;
  margin: 0;
}

.checklist-type {
  padding-left: 67px;
  margin: 0;
}


/** Сортировка Гостиниц **/

.catalog-sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.inner-found-hotels {
  margin-left: 71px;
  margin-right: 192px;
}

.breadcrumbs-icon {
  display: flex;
  padding-left: 73px;
  align-items: center;
}

.catalog-buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-right: 72px;
  padding-left: 72px;
}

.button-apply {
  width: 160px;
  height: 48px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: white;
  background-color: #82b3d3;
  border-radius: 5px;
  border: 0;
}

.button-reset {
  border: none;
  background-color: transparent;
  color: white;
}

/* Cортировка */

.breadcrumbs {
  display: flex;
  padding: 0;
  align-items: center;
  margin-right: 72px;
}

.inner-button-select-menu {
  background-color: white;
  color: black;
  width: 48px;
  height: 48px;
  margin-right: 8px
}

/* Cписок Отелей */

.catalog-hotels {
  display: grid;
  grid-template-columns: 339px 339px 339px;
  gap: 10px;
  margin: 0
}

.inner-hotel-assortment {
  padding-bottom: 16px;
}

.inner-hotel-name {
  margin: 0;
  padding: 16px 0 16px;
}

.inner-hotel-price {
  margin-right: auto;
  padding-left: 53px;
}

.inner-hotel-type {
  padding-right: 25px;
}

.hotel-info {
  margin-bottom: 16px;
}

.inner-more {
  text-decoration: none;
  max-width: 133px;
  background-color: #756157;
  color: white;
  padding: 9px 25px 10px 20px;
  border-radius: 4px;
}

.inner-favorite {
  margin-left: 25px;
  width: 144px;
  background-color: #82B3D3;
  color: white;
  text-decoration: none;
  padding: 9px 25px 10px 20px;
  border-radius: 4px
}

.inner-favorite-current {
  margin-left: 25px;
  width: 144px;
  background-color: #7DB54F;
  color: white;
  text-decoration: none;
  padding: 9px 25px 10px 20px;
  border-radius: 4px
}

/* Каталог загрузка */
.uploader-more {
  display: flex;
  justify-content: center;
  border-top: 2px solid #E6E6E6;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #E6E6E6;
  margin-top: 54px;
}


.inner-upload-more {
  display: flex;
  justify-content: center;
  padding: 20px 100px;
  background-color: #82b3d3;
  width: 619px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

/* Cтраницы & Селектор */

.selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-onsite {
  margin-right: 50px;
  margin-left: auto;
}

.inner-select-list-count {
  width: 160px;
  height: 48px;
  margin-right: 72px;
  padding-left: 17px;
  margin-left: 51px;
}

.pagination {
  display: flex;
}

.pagination-link {
  display: block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  color: white;
  background-color: #82b3d3;
  text-align: center;
  text-decoration: none;
  margin-right: 8px;
}

.pagination-link.current {
  background-color: #F2F2F2;
  color: black;
}

.mailing-catalog {
  margin-bottom: 140px;
}

.mailing-title-catalog {
  margin: 73px 0 0;
}

.mailing-description-catalog {
  padding: 46px 0 46px;
  margin: 0;
}

/** Грид контент **/
.grid-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
}

.first-advantage {
  grid-area: 1 / 1 / 2 / 2;
  width: 400px;
  height: 387px;
  background-color: #82B3D3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}

.sedona-adventages-description {
  margin: 0;
  padding-bottom: 30px;
  white-space: pre-line;
}

.adventage-numbers {
  margin: 0;
  padding: 30px 75px 30px 75px;
  white-space: pre-line;
}

.adventages-subtitle {
  margin: 0;
  padding: 30px 75px 0 75px;
  white-space: pre-line;
}

.second-advantage {
  grid-area: 2 / 1 / 3 / 2;
  width: 400px;
  height: 387px;
  background-color: #F0F6FA;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-first {
  background-image: url("../images/icons/icon-1.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 76px;
  margin: 0 auto;
}

.third-advantage {
  grid-area: 2 / 2 / 3 / 3;
  width: 400px;
  height: 387px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sedona-icon-advantage-description {
  margin: 0;
  padding-top: 23px;
  text-transform: uppercase;
}

.advantages-icon-subtitle {
  margin: 0;
  padding-top: 20px;
  white-space: pre-line;
}

.second-icon {
  background-image: url("../images/icons/icon-2.svg");
  background-repeat: no-repeat;
  width: 74px;
  height: 76px;
  margin: 0 auto;
}

.fourth-advantage {
  grid-area: 2 / 3 / 3 / 4;
  width: 400px;
  height: 387px;
  background-color: #F0F6FA;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.third-icon {
  background-image: url("../images/icons/icon-3.svg");
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
  margin: 0 auto;
}

.fifth-advantage {
  grid-area: 3 / 3 / 4 / 4;
  width: 400px;
  height: 387px;
  background-color: #82B3D3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.sixth-advantage {
  grid-area: 4 / 1 / 5 / 2;
  width: 400px;
  height: 387px;
  background-color: #F0F6FA;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.seventh-advantage {
  grid-area: 4 / 2 / 5 / 3;
  width: 400px;
  height: 387px;
  background-color: #E6F0F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eighth-advantage {
  grid-area: 4 / 3 / 5 / 4;
  width: 400px;
  height: 387px;
  background-color: #F0F6FA;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sedona-advantages-description {
  margin: 0;
}

/**.inner-icon-link {
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 15px;
} **/

.icon-search, .icon-favorite {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

}

.inner-icon {
  background-image: url("../images/nav-link.svg");
  background-repeat: no-repeat;
  width: 5px;
  height: 8px;
  margin-left: 10px;
}

.inner-select-menu {
  width: 287px;
  height: 48px;
  padding-left: 19px;
}

.navigation-link-current::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 3px;
  background-color: #756157;
  content: "";
}

.icon-search:hover path, .icon-favorite:hover path {
  fill: #756157;
}

.icon-search:active path, .icon-favorite:active path {
  fill: #D6D0CD;
}

.want-here:hover {
  color: white;
  background-color: #615048;
}

.want-here:active {
  color: #90847F;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:focus {
  background-color: #E6E6E6;
}

.social-button:hover path {
  fill: #68A2CA;
}

.social-button:focus path {
  fill: #68A2CA;
}

.social-button:active path {
  fill: #D2E3EF;
}

.footer-html-academy:hover path {
  fill: #756157;
}

.footer-html-academy:focus path {
  fill: #756157;
}

.footer-html-academy:active path {
  fill: #D6D0CD;
}

.home-icon:hover path {
  fill: #C9DAE8;
}

.inner-home-icon:hover {
  color: #C9DAE8;
}

.inner-home-icon:active {
  color: #98B7D2;
}

.home-icon:active path {
  fill: #98B7D2;
}

.button-apply:hover {
  background-color: #68A2CA;
}

.button-apply:focus {
  background-color: #68A2CA;
}

.button-apply:active {
  background-color: #68A2CA;
  color: #95BEDA;
}

.button-reset:hover {
  color: #b1b3b3;
}

.button-reset:active {
  color: #757677;
}

.inner-more:hover {
  background-color: #615048;
}

.inner-more:focus {
  background-color: #615048;
}

.inner-more:active {
  background-color: #615048;
  color: #90847F;
}

.inner-favorite:hover {
  background-color: #68A2CA;
}

.inner-favorite:focus {
  background-color: #68A2CA;
}

.inner-favorite:active {
  background-color: #68A2CA;
  color: #95BEDA;
}

.inner-favorite-current:hover {
  background-color: #6c9e42;
}

.inner-favorite-current:focus {
  background-color: #6c9e42;
}

.inner-favorite-current:active {
  background-color: #6c9e42;
  color: #98bb6b;
}

.icon-counter {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  color: white;
  line-height: 20px;
  text-align: center;
  font-size: 10px;
  top: 4px;
}

.want-here {
  background-color: #756157;
  width: 160px;
  height: 37px;
  color: #ffffff;
  align-items: center;
  margin-left: 18px;
  margin-top: 13px;
  margin-bottom: 19px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
}

.footer-contact-title:hover {
  color: #756157;
}

.footer-contact-title:focus {
  color: #756157;
}

.footer-contact-title:active {
  color: #D6D0CD;
}

.inner-button-select-menu {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px;
}

.price-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: white;
  border-radius: 2px;
}

.range {
  margin-top: 27px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.toggle-min {
  background: #FFFFFF;
  border-radius: 5px;
  position: relative;
  top: -18px;
  left: -2px;
}

.toggle-max {
  background: #FFFFFF;
  border-radius: 5px;
  position: relative;
  top: -18px;
  right: -190px;
}

.price-max {
  padding-left: 20px;
  width: 147px;
  height: 48px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  background: transparent;
  outline: none;
  color: #FFFFFF;
  margin-top: 14px;
  border-radius: 4px;
  margin-right: -8px;
  font-size: 18px;
}

.price-range {
  margin-left: auto;
  padding-bottom: 20px;
  padding-right: 17px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #636B6D;
  border-radius: 2px;
}

.price-min {
  padding-left: 20px;
  width: 142px;
  height: 48px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  background: transparent;
  outline: none;
  color: #FFFFFF;
  margin-top: 14px;
  border-radius: 4px;
  margin-right: -8px;
  font-size: 18px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 22px;
  height: 22px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #3F5E72;
}

.control:hover .control-mark {
  border-color: #C3D1E0;
}

.control-list[type="checkbox"]:checked + .control-mark::before,
.control-list[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  display: block;
  width: 12px;
  height: 10px;
  top: 30%;
  left: 3px;
  background: #FFFFFF url("../images/accept.svg") no-repeat;
  content: "";
}

.control-list[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-list[type="radio"]:checked + .control-mark::before,
.control-list[type="radio"]:checked + .control-mark::after {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: 25%;
  left: 5px;
  content: "";
  background: url("../images/accept-catalog.svg");: no-repeat;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.pop-up {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 10;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

.pop-up.active {
  display: flex;
}

.pop-content {
  position: absolute;
  margin: 0 auto;
  width: 715px;
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 54px 70px 70px;
  box-sizing: border-box;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  z-index: 100;
}

.pop-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pop-header {
  margin: 0;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.close-button-pop {
  cursor: pointer;
}

.pop-checkin-date {
  margin: 54px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pop-checkout-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pop-header-inside {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.checkin,
.checkout {
  width: 420px;
  height: 50px;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: 0;
  padding: 0 19px;
  box-sizing: border-box;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0;
}

.people-count {
  margin: 40px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.people-count-right {
  display: flex;
  justify-content: space-between;
}

.wrapper-counter {
  position: relative;
}

.minus {
  display: block;
  padding: 19px 5px 19px 19px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.plus {
  display: block;
  padding: 19px 19px 19px 5px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.people-counter {
  width: 119px;
  height: 50px;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-weight: 700;
}

.people-counter::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.kids-number {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.pop-over-window {
  position: absolute;
  right: 88px;
  bottom: -30px;
}

.pop-up-text {
  position: absolute;
  z-index: 2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0;
  text-align: justify;
  color: #FFFFFF;
  padding: 22px 42px;
  margin-right: 10px;
}

.pop-up-img {
  z-index: 1;
}

.minus-right {
  display: block;
  padding: 19px 5px 19px 19px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.plus-right {
  display: block;
  padding: 19px 19px 19px 5px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.information-icon {

}

.pop-over-button {
  width: 575px;
  height: 60px;
  background-color: #83B3D3;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0;
  text-align: center;
  color: #FFFFFF;
  outline: none;
  border: none;
  margin: 40px 0 0 0;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  margin-left: 10px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  border-radius: 6px;
  padding: 15px 12px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 16px;
}

.tooltip .tooltiptext::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-style: solid;

  width: 0;
  height: 0;
  border-width: 0 7.5px 7.5px 7.5px;
  border-color: transparent transparent #333 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.information-icon:hover {
  color: #68A2CA;
}
